<ion-view title="About Us">
	<link rel="icon" href="img/icon.png">
        <ion-content>

        	<div class="center">
        		<a href="">
        			<img src="img/logo.png">
        		</a>
        	</div>

        	<h3 class="center">Developers</h3>

        	<div class="list">

        		<a class="item item-avatar">
        			<img src="img/David.jpg">
        			<h2>David De Los Santos --- 1066600</h2>
        		</a>

        		<a class="item item-avatar">
        			<img src="img/Visquel.jpg">
        			<h2>Visquel De Los Santos --- 1064644</h2>
        		</a>
        	</div>
        	
        	<!--<h2 class="center">App desarrollada por</h2>

		  	<h5 class="center item"> David De Los Santos --- 1066600</h5>
		  	<h5 class="center item"> Visquel De Los Santos --- 1064644</h5>-->


		  	<div class="padding">
		  		<!--<p class="descripcion">Nuestra aplicación para nuestro proyecto final se llama <b>Point-News</b>. Es una aplicación de noticias que le permitie al usuario visitar los articulos de noticias más actuales sin importar a la categoria que pertenezcan.</p>-->

		  		<p class="descripcion">This App is <b>Point-News</b>. Is a news's App that allow the users watch the most actual and different news´s articles, no matter which group it bellow. </p>
		  	</div>
        </ion-content>
</ion-view>