<ion-view>
        <ion-tabs class="tabs-icons-top tabs-stable tabs-color-positive">
            <!--All news Tab-->
            <ion-tab title="All News" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/allnews">
                <ion-nav-view name="tab-allnews"></ion-nav-view>
            </ion-tab>
    
            <!--News By Date Tab-->
            <ion-tab title="News By Dates" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/newsbydate">
                <ion-nav-view name="tab-newsbydate"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
</ion-view>